<nav class="p-4 w-full">
  <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
    <li>
      <a
        class="btn"
        routerLink="by-capital"
        routerLinkActive="btn-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 14 14">
          <g
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1">
            <path d="M.707 13.438h12.75M3.86 5.687l3.222-2.53l3.222 2.53M4.35 7.813h5.464v5.625H4.35V7.811ZM3.238 5.688h7.688v2.121H3.238zM1.618 7.81v5.628M12.546 7.81v5.625M.707 7.81h12.75M7.082 3.156V.674m0 0h1.25"/>
            <path d="M6.095 11.203a.93.93 0 0 1 .931-.93v0a.93.93 0 0 1 .931.93v2.235H6.095z"/>
          </g>
        </svg>
        Por capital
      </a>
    </li>
    <li>
      <a
        class="btn"
        routerLink="by-country"
        routerLinkActive="btn-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 14 14">
          <g
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1">
            <path d="M7 10.5v3m-5 0h10m-5-3a5 5 0 1 0 0-10a5 5 0 0 0 0 10m-5-5h10"/>
            <path d="M7 10.5c3-3.42 3-6.76 0-10c-2.94 3.12-3 6.44 0 10"/>
          </g>
        </svg>
        Por país
      </a>
    </li>
    <li>
      <a
        class="btn"
        routerLink="by-region"
        routerLinkActive="btn-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 14 14">
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m4.83 12.5l-3.105.717A1 1 0 0 1 .5 12.243V2.295a1 1 0 0 1 .775-.974L4.83.5zm0 0l4.34 1v-12L4.83.5zm8.67-.795a1 1 0 0 1-.775.974L9.17 13.5v-12l3.105-.717a1 1 0 0 1 1.225.974z"
            stroke-width="1"/>
        </svg>
        Por región
      </a>
    </li>
  </ul>
</nav>
